// color
    $yellow: #F2B138;
    $brown: #40281F;
    $white: #ffffff;

// font
    // familly
        $title-font: 'Rye';
        @font-face{
            font-family: 'Rye';
            src: url('../font/Rye-Regular.ttf');
        }

        $text-font: 'Oswald';
        @font-face{
            font-family: 'Oswald';
            src: url('../font/Oswald-Regular.ttf');
        }
    // size
    $newsletter: 90px;
    $title: 50px;
    $button: 40px;
    $menu: 24px;
    $text: 18px;

    @media screen and (max-width: 960px){
        $newsletter: 50px;
        $title: 25px;
        $button: 30px;
        $menu: 24px;
        $text: 16px;
    }

