@font-face {
  font-family: "Rye";
  src: url("../font/Rye-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../font/Oswald-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

body {
  color: #40281F;
  font-family: "Oswald";
  font-size: 18px;
}
body > div:not(:first-child):not(#backTop) {
  display: none !important;
}
body > div#backTop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  background: #40281F;
  border: solid 1px #F2B138;
  border-radius: 50px;
  overflow: hidden;
  z-index: 888;
  opacity: 0;
  transition: 0.5s;
}
body > div#backTop a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #F2B138;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  animation: jump 2s infinite;
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  20% {
    bottom: 5px;
  }
  30% {
    bottom: 0;
  }
  40% {
    bottom: 5px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}
body > div#backTop.backTop {
  display: inherit;
  opacity: 1;
  transition: 0.5s;
}
body nav {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: transparent;
  transition: 0.5s;
}
@media screen and (min-width: 720px) {
  body nav.scroll {
    height: 8vh;
    background: #40281F;
    display: flex;
    align-items: center;
    transition: 0.5s;
  }
}
body nav div {
  display: none;
}
body nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
body nav ul li {
  list-style: none;
}
body nav ul li a {
  color: #40281F;
  font-size: 24px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}
body nav ul li a img {
  width: 44px;
  height: 44px;
}
body nav.scroll ul li a {
  color: #ffffff;
  transition: 0.5s;
}
body main#index {
  height: 100vh !important;
}
body main#index section {
  padding: 0;
  height: 100vh !important;
}
body main#index section #btn {
  display: flex !important;
  justify-content: center;
}
body main section {
  width: 100%;
  min-height: 85vh;
  display: flex;
  background: #F2B138;
  padding-top: 15vh;
  overflow: hidden;
}
body main section > div:first-child {
  width: 20%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 1;
}
body main section > div:first-child h2 {
  display: none;
  font-family: "Rye";
  font-size: 50px;
  font-weight: 10;
  text-align: center;
}
body main section > div:first-child p:first-of-type {
  color: #40281F;
}
body main section > div:first-child p:last-of-type {
  text-align: right;
}
body main section > div:first-child hr {
  border: solid 1px #40281F;
}
body main section > div:first-child > div:first-child {
  width: 100%;
  height: 50vh;
  padding: 0 !important;
  overflow: hidden;
}
body main section > div:first-child > div:first-child > div {
  width: 400%;
  height: 100%;
  display: flex;
}
body main section > div:first-child > div:first-child > div > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: translateImage 25s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section > div:first-child > div:first-child > div > div img {
  width: fit-content;
  height: 100%;
}
@keyframes translateImage {
  0% {
    transform: translateX(0%);
  }
  18% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  62% {
    transform: translateX(-200%);
  }
  86% {
    transform: translateX(-200%);
  }
  98% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
body main section > div:first-child > div:last-child div {
  display: flex;
  justify-content: space-between;
}
body main section > div:first-child > div:last-child div select {
  padding-left: 2%;
  background: #ffffff;
  border: solid 1px #40281F;
  border-radius: 50px;
}
body main section > div:last-child {
  width: 70%;
}
body main section > div:last-child h2 {
  margin: 0;
  font-family: "Rye";
  font-size: 50px;
  font-weight: 10;
  padding-bottom: 3%;
  padding-right: 3%;
}
body main section > div:last-child > div {
  display: flex;
}
body main section > div:last-child > div .information {
  width: 60%;
  height: min-content;
  position: relative;
}
body main section > div:last-child > div .information.showValidation {
  position: inherit;
}
body main section > div:last-child > div .information form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main section > div:last-child > div .information form div#validation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  transition: 0.5s;
}
body main section > div:last-child > div .information form div#validation.showValidation {
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  opacity: 1;
  transition: 0.5s;
}
body main section > div:last-child > div .information form div#validation.showValidation > div {
  bottom: 0;
  opacity: 1;
  display: inherit;
}
body main section > div:last-child > div .information form div#validation > div {
  opacity: 0;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100%;
  width: 50%;
  height: max-content;
  max-height: 80%;
  margin: auto;
  background: #40281F;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
  transition: 0.5s;
}
body main section > div:last-child > div .information form div#validation > div h2 {
  color: #F2B138;
  font-family: "Rye";
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  text-align: center;
  width: 100%;
}
body main section > div:last-child > div .information form div#validation > div > div:first-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2%;
  padding-right: 2%;
}
body main section > div:last-child > div .information form div#validation > div > div:first-child div {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 50%;
}
body main section > div:last-child > div .information form div#validation > div > div:first-child div.hideDiv {
  transform: rotate(360deg);
  transition: 0.5s;
}
body main section > div:last-child > div .information form div#validation > div > div:first-child div:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.5s;
}
body main section > div:last-child > div .information form div#validation > div > div:first-child div span {
  position: absolute;
  width: 20px;
  height: 6px;
  background: #F2B138;
  border-radius: 50px;
}
body main section > div:last-child > div .information form div#validation > div > div:first-child div span:last-child {
  transform: rotate(90deg);
}
body main section > div:last-child > div .information form div#validation > div > div:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main section > div:last-child > div .information form div#validation > div > div:last-child a, body main section > div:last-child > div .information form div#validation > div > div:last-child input {
  color: #40281F;
  text-decoration: none;
  font-size: 40px;
  font-family: "Rye";
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background: #F2B138;
  border: solid 2px #F2B138;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}
body main section > div:last-child > div .information form div#validation > div > div:last-child a:hover, body main section > div:last-child > div .information form div#validation > div > div:last-child input:hover {
  background: #40281F;
  color: #F2B138;
  transition: 0.5s;
}
body main section > div:last-child > div .information form div#validation > div > div:last-child a input, body main section > div:last-child > div .information form div#validation > div > div:last-child input input {
  background: #40281F;
  border: solid 2px #F2B138;
  color: #F2B138;
}
body main section > div:last-child > div .information form div#validation > div > div:last-child a input a:hover, body main section > div:last-child > div .information form div#validation > div > div:last-child input input a:hover {
  background: #F2B138;
  color: #40281F;
}
body main section > div:last-child > div .information form select {
  width: 45%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #ffffff;
  border: solid 1px #40281F;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}
body main section > div:last-child > div .information form select#Payement {
  display: none;
}
body main section > div:last-child > div .information form a {
  position: relative;
  z-index: 1;
}
body main section > div:last-child > div .information form input[type=text],
body main section > div:last-child > div .information form input[type=email],
body main section > div:last-child > div .information form input[type=number] {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #ffffff;
  border: solid 1px #40281F;
  border-radius: 50px;
  -moz-appearance: textfield;
  position: relative;
  z-index: 1;
}
body main section > div:last-child > div .information form input[type=text]:first-child, body main section > div:last-child > div .information form input[type=text]:nth-child(2), body main section > div:last-child > div .information form input[type=text]:nth-child(5), body main section > div:last-child > div .information form input[type=text]:nth-child(8), body main section > div:last-child > div .information form input[type=text]:nth-child(9),
body main section > div:last-child > div .information form input[type=email]:first-child,
body main section > div:last-child > div .information form input[type=email]:nth-child(2),
body main section > div:last-child > div .information form input[type=email]:nth-child(5),
body main section > div:last-child > div .information form input[type=email]:nth-child(8),
body main section > div:last-child > div .information form input[type=email]:nth-child(9),
body main section > div:last-child > div .information form input[type=number]:first-child,
body main section > div:last-child > div .information form input[type=number]:nth-child(2),
body main section > div:last-child > div .information form input[type=number]:nth-child(5),
body main section > div:last-child > div .information form input[type=number]:nth-child(8),
body main section > div:last-child > div .information form input[type=number]:nth-child(9) {
  width: 45%;
}
body main section > div:last-child > div .information form input::-o-inner-spin-button,
body main section > div:last-child > div .information form input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}
body main section > div:last-child > div .information form input[type=number]::-webkit-inner-spin-button,
body main section > div:last-child > div .information form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body main section > div:last-child > div .information form > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  font-family: "Rye";
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background: #40281F;
  border: solid 2px #40281F;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}
body main section > div:last-child > div .information form > a:hover {
  background: transparent;
  transition: 1s;
}
body main section > div:last-child > div .information form span a {
  color: #ffffff;
}
body main section > div:last-child > div > div:last-child {
  width: 30%;
  padding-right: 5%;
  padding-left: 5%;
}
body main section > div:last-child > div > div:last-child > div {
  display: flex;
  flex-wrap: wrap;
}
body main section > div:last-child > div > div:last-child > div div {
  width: 35%;
  display: flex;
  align-items: center;
  height: min-content;
  padding-bottom: 5%;
}
body main section > div:last-child > div > div:last-child > div div input,
body main section > div:last-child > div > div:last-child > div div label {
  cursor: pointer;
}
body main section > div:last-child > div > div:last-child > div div a {
  width: 40px;
  height: 40px;
  display: block;
}
body main section > div:last-child > div > div:last-child > div div img {
  width: 40px;
}
body main section #container-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 0.3s ease-in-out;
}
body main section #container-redirect #redirect {
  padding: 2%;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  background: #F2B138;
  border-radius: 60px;
  border: 2px solid #40281F;
  box-shadow: 0px 0px 5px #40281F;
  width: 50%;
  height: 70%;
  display: none;
  transition: 0.3s ease-in-out;
}
body main section #container-redirect #redirect h3 {
  margin: 0;
  font-family: "Rye";
  font-size: 40px;
  text-align: center;
  font-weight: 10;
  padding-bottom: 3%;
  padding-right: 3%;
}
body main section #container-redirect #redirect p {
  text-align: center;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
body main section #container-redirect #redirect #line {
  margin: 0 auto;
}
body main section #container-redirect #redirect svg {
  width: 30px;
  height: 30px;
  margin: 8% 0%;
}
body main section #container-redirect #redirect #text-btn:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
}
body main section #container-redirect #redirect #text-btn:hover + #btn {
  transform: scale(1.2);
}
body main section #container-redirect #redirect #btn {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  font-family: "Rye";
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background: #40281F;
  border: solid 2px #40281F;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
  width: 60%;
  text-align: center;
  transition: 0.3s ease-in-out;
}
body main section #container-redirect #redirect #btn a {
  text-decoration: none;
  color: #fff;
}
body main section #container-redirect #redirect #btn:hover {
  background: transparent;
  transition: 1s;
}
@media screen and (max-width: 960px) {
  body main section #container-redirect #redirect {
    padding: 5%;
  }
  body main section #container-redirect #redirect h3 {
    font-size: 25px;
  }
  body main section #container-redirect #redirect #btn {
    font-size: 30px;
  }
}

@media screen and (max-width: 960px) {
  body main section {
    padding-bottom: 5%;
  }
  body main section > div:first-child {
    width: 30%;
  }
  body main section > div:last-child {
    width: 60%;
  }
  body main section > div:last-child h2 {
    text-align: center;
    padding: 0;
  }
  body main section > div:last-child > div .information {
    width: 95%;
  }
  body main section > div:last-child > div .information form {
    padding-left: 5%;
    padding-right: 5%;
  }
  body main section > div:last-child > div .information form select#Payement {
    width: 100%;
    display: inherit;
  }
  body main section > div:last-child > div .information form input[type=submit] {
    width: 100%;
  }
  body main section > div:last-child > div > div:last-child {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  h2 {
    font-size: 25px !important;
  }

  body {
    font-size: 16px;
  }
  body nav div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 999;
  }
  body nav div span {
    width: 100%;
    height: 5px;
    background: #F2B138;
    border: solid 1px #40281F;
    border-radius: 50px;
    transform-origin: center;
    position: absolute;
    transition: 0.5s;
  }
  body nav div span:first-child {
    margin-bottom: 10px;
  }
  body nav div span:first-child.rotate1 {
    margin-bottom: 0;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  body nav div span:last-child {
    width: 50%;
    margin-top: 10px;
  }
  body nav div span:last-child.rotate2 {
    width: 100%;
    margin-top: 0;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  body nav ul {
    flex-direction: column;
    justify-content: center;
    background: #40281f;
    height: -webkit-fill-available;
    margin: 0;
    position: fixed;
    top: -100%;
    transition: 1s;
  }
  body nav ul.translate {
    top: 0;
    transition: 1s;
  }
  body nav ul li {
    width: 100%;
    text-align: center;
  }
  body nav ul li a {
    font-size: 24px;
    color: #ffffff;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  body main section {
    width: 100%;
    height: auto;
    padding-top: 0;
    flex-direction: column;
    padding-bottom: 5%;
  }
  body main section > div:first-child {
    width: 100%;
    padding: 0;
  }
  body main section > div:first-child img {
    width: 100%;
    height: 50vh;
  }
  body main section > div:first-child h2 {
    display: inherit;
  }
  body main section > div:first-child p:first-of-type {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  body main section > div:first-child p:last-of-type {
    padding-left: 5%;
    padding-right: 5%;
  }
  body main section > div:first-child hr {
    margin-left: 5%;
    margin-right: 5%;
  }
  body main section > div:first-child > div {
    padding-left: 5%;
    padding-right: 5%;
  }
  body main section > div:last-child {
    width: 100%;
  }
  body main section > div:last-child h2 {
    display: none;
  }
  body main section > div:last-child > div {
    display: flex;
  }
  body main section > div:last-child > div .information {
    width: 100%;
    height: min-content;
  }
  body main section > div:last-child > div .information form {
    padding-left: 5%;
    padding-right: 5%;
  }
  body main section > div:last-child > div .information form select {
    width: 100%;
  }
  body main section > div:last-child > div .information form select#Payement {
    display: inherit;
  }
  body main section > div:last-child > div .information form input[type=text]:first-child, body main section > div:last-child > div .information form input[type=text]:nth-child(2), body main section > div:last-child > div .information form input[type=text]:nth-child(5), body main section > div:last-child > div .information form input[type=text]:nth-child(8), body main section > div:last-child > div .information form input[type=text]:nth-child(9),
body main section > div:last-child > div .information form input[type=email]:first-child,
body main section > div:last-child > div .information form input[type=email]:nth-child(2),
body main section > div:last-child > div .information form input[type=email]:nth-child(5),
body main section > div:last-child > div .information form input[type=email]:nth-child(8),
body main section > div:last-child > div .information form input[type=email]:nth-child(9),
body main section > div:last-child > div .information form input[type=number]:first-child,
body main section > div:last-child > div .information form input[type=number]:nth-child(2),
body main section > div:last-child > div .information form input[type=number]:nth-child(5),
body main section > div:last-child > div .information form input[type=number]:nth-child(8),
body main section > div:last-child > div .information form input[type=number]:nth-child(9) {
    width: 100%;
  }
  body main section > div:last-child > div .information form input[type=number]::-webkit-inner-spin-button,
body main section > div:last-child > div .information form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  body main section > div:last-child > div .information form input[type=submit] {
    width: 100%;
    font-size: 30px;
  }
  body main section > div:last-child > div .information form input[type=submit]:hover {
    background: transparent;
    transition: 1s;
  }
  body main section > div:last-child > div .information form span {
    text-align: justify;
  }
  body main section > div:last-child > div .information form span a {
    color: #ffffff;
  }
  body main section > div:last-child > div > div:last-child {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  input[type=submit] {
    font-size: 7vw !important;
  }
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyButtonDecline {
  background: a82819;
}
#CybotCookiebotDialog #CybotCookiebotDialogPoweredbyLink {
  width: 100%;
  text-align: center;
}
#CybotCookiebotDialog #CybotCookiebotDialogPoweredbyLink #CybotCookiebotDialogPoweredbyImage {
  width: 20%;
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyContent {
  padding: 4%;
  padding-top: 30%;
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyContent #CybotCookiebotDialogBodyContentTitle {
  text-align: center;
}

/*# sourceMappingURL=panier.css.map */
